*{box-sizing: border-box;
padding:0;
margin:0;}

:root{
    --white: #FFFFFF;
    --black: #000000;
    --red: #de1f1f;
    --darkerGray: #1a1a1a;
    --darkGray: #2e2e2e;
    --gray: #424242;
}

.wrapper{
    width:100vw;
    height: 100vh;
    position: relative;
    background-size:cover;    
    background-repeat: no-repeat;    
    aspect-ratio: 16/9;
    background-position:center;
    display:flex;
    justify-content:space-evenly ;
    padding:50px;
    flex-direction: column;
}

body{
    color:var(--white)!important;
    image-rendering: pixelated;
}

/*////////////////////////////////////////

MENU PRINCIPAL

////////////////////////////////////////////*/

.mainMenu{
    background-image: url("../media/img/maison_ext.png");
}

.title{
    font-family: 'Press Start 2P', cursive;
    font-size:5vw;
    align-self:center;
    -webkit-text-stroke: 3px var(--black);
}

.startBtns{
    height:20vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.start{
    height:5vh;
    width:10vmax;
    color:var(--white);
    background-color: var(--darkerGray);
    font-family: 'Press Start 2P', cursive;
    border: var(--white) solid 5px;
}

.start:hover{
    background-color: var(--darkGray);
}

.tip{
    position:absolute;
    width:25vw;
    height:30vh;
    background-color: var(--darkerGray);
    bottom:0;
    left:0;
    opacity:0;
    padding:20px;
    font-family: 'Press Start 2P', cursive;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    line-height: 1.5em;
    font-size:1vw;
}

.warning{
    color: var(--red);
}

.start:hover ~ .tip{
    opacity:1;
}

@media screen and (max-width: 991.98px){
    .title{
        font-size: 6vw;
    }
    .tip{
        height:25vh;
        font-size:2vw;
    }
    .start{
        width:15vmax;
    }
}

@media screen and (max-width: 575.98px){
    .title{
        font-size:8vw;
    }
    .tip{
        height:25vh;
        font-size:3vmin;
    }
}



/*/////////////////////////////////////////////
VISUAL NOVEL
/////////////////////////////////////////////*/

#vn{
    display: none;
}

.textbox{
    width:100%;
    height:35vh;
    background-color: var(--darkerGray);
    border: var(--white) solid 3px;
    font-size:1em;
    color: var(--white);
    position:absolute;
    bottom:0;
    left:0;
    padding:50px;
    font-family: 'Press Start 2P', cursive;
}

.buttonBox{
    height:25%;
    position:absolute;
    bottom:0;
    left:0;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--black);
    border: var(--white) solid 2px;
    font-size: 0.5em;
}

.buttonContainer{
    height:25%;
    position: relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.settingsBtn{
    width:4vmax;
    height:4vmax;
    background-color: var(--darkerGray);
    border:var(--white) solid 2px;
    color:var(--white);
}




.nextText{
    width:5vmin;
    height:5vmin;
    background-color: var(--darkGray);
    border:var(--white) 3px solid;
    color:var(--white);
}

.nextText:hover{
    background-color: var(--gray);
}

.optionsbox{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    top:0;
    left:0;
}





.settingsBtn:hover{
    background-color: var(--gray);;
}

.optionBtn{
    width:25vmin;
    aspect-ratio:3/1;
    background-color: var(--darkerGray);
    font-family: 'Press Start 2P', cursive;
    color: var(--white);
    border:var(--white) solid 2px;
    font-size:1em;
}

.optionBtn:hover{
    background-color: var(--gray);
}

.background{
   width:100%;
   height: 65vh;
   position:absolute;
   top:0;
   left:0;
   background-color: black;
}

@media screen and (min-width: 1399.98px){
    .settingsBtn{
        width:3vmax;
        height:3vmax;
    }
    .textbox{
        font-size: 1.5em;
    }
    .optionBtn{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 575.98px){
    .textbox{
        font-size: 0.7em;
    }
    .optionBtn{
        font-size: 0.7em;
    }
}

/*/////////////////////////////////////////////////
SETTINGS
//////////////////////////////////////////////////*/

.settings{
    width:50%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    padding:40px;
    background-color: red;
    font-family: 'Press Start 2P', cursive;;
}