*{box-sizing: border-box;
padding:0;
margin:0;}
*{font-family: 'Press Start 2P', cursive; 
user-select: none;}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --red: #de1f1f;
    --darkerGray: #1a1a1a;
    --darkGray: #2e2e2e;
    --gray: #424242;
    --transparentGray: rgba(66, 66, 66, 0.2);
}

.wrapper{
    width:100%;
    height: 100%;
    position: relative;
    background-size:cover;    
    background-repeat: no-repeat;    
    aspect-ratio: 16/9;
    background-position:center;
    display:flex;
    justify-content:space-evenly ;
    padding:50px;
    flex-direction: column;
}

body{
    color:var(--white)!important;
    image-rendering: pixelated;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    background-color: var(--gray)!important;
    overflow: hidden;
}
.game{
    width:95vw;
    height:95vh;
    position:relative;
}


/*////////////////////////////////////////

MENU PRINCIPAL

////////////////////////////////////////////*/

.mainMenu{
    background-image: url("../media/img/maison_ext.png");
}

.title{
    font-family: 'Press Start 2P', cursive;
    font-size:5vw;
    align-self:center;
    -webkit-text-stroke: 2px var(--black);
}

.startBtns{
    height:20vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.start{
    height:5vh;
    width:10vmax;
    color:var(--white);
    background-color: var(--darkerGray);
    font-family: 'Press Start 2P', cursive;
    border: var(--white) solid 2px;
}

.start:hover{
    background-color: var(--gray);
}

.tip{
    position:absolute;
    width:25vw;
    height:30vh;
    background-color: var(--darkerGray);
    border: var(--white) 2px solid;
    bottom:0;
    left:0;
    opacity:0;
    padding:20px;
    font-family: 'Press Start 2P', cursive;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    line-height: 1.5em;
    font-size:1vw;
}

.warning{
    color: var(--red);
}

.start:hover ~ .tip{
    opacity:1;
}

@media screen and (max-width: 991.98px){
    .title{
        font-size: 6vw;
    }
    .tip{
        height:25vh;
        font-size:2vw;
    }
    .start{
        width:15vmax;
    }
}

@media screen and (max-width: 575.98px){
    .title{
        font-size:8vw;
    }
    .tip{
        height:25vh;
        font-size:3vmin;
    }
}



/*/////////////////////////////////////////////
VISUAL NOVEL
/////////////////////////////////////////////*/

#vn{
    display: none;
}

.textbox{
    width:100%;
    height:27vh;
    background-color: var(--darkerGray);
    border: var(--white) solid 2px;
    border-bottom: none;
    font-size:1em;
    color: var(--white);
    position:absolute;
    bottom:8vh;
    left:0;
    padding:50px;
    font-family: 'Press Start 2P', cursive;
    overflow-wrap: break-word;
}

.textboxQuiz{
    width:100%;
    height:27vh;
    background-color: var(--darkerGray);
    border: var(--white) solid 2px;
    border-bottom: none;
    font-size:1em;
    color: var(--white);
    position:absolute;
    bottom:8vh;
    left:0;
    padding:50px;
    font-family: 'Press Start 2P', cursive;
    overflow-wrap: break-word;
    display: none;
}

.buttonBox{
    height:8vh;
    position:absolute;
    bottom:0;
    left:0;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--black);
    border: var(--white) solid 2px;
    font-size: 0.5em;
}

.buttonContainer{
    height:8vh;
    position: relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.settingsBtn{
    width:4vmax;
    height:4vmax;
    background-color: var(--darkerGray);
    border:var(--white) solid 2px;
    color:var(--white);
}

.optionsbox{
    width:100%;
    height:65vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    top:0;
    left:0;
}

.optionsboxQuiz{
    width:100%;
    height:65vh;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    top:0;
    left:0;
    display:none;
}

.settingsBtn:hover{
    background-color: var(--gray);;
}

.optionBtn{
    width:25vmin;
    aspect-ratio:3/1;
    background-color: var(--darkerGray);
    font-family: 'Press Start 2P', cursive;
    color: var(--white);
    border:var(--white) solid 2px;
    font-size:1em;
}

.optionBtn:hover{
    background-color: var(--gray);
}

.namebox{
    width:20%;
    aspect-ratio: 4/1;
    background-color: var(--darkGray);
    display:flex;
    align-items: center;
    justify-content: center;
    border: var(--white) 2px solid;
    border-bottom: none;
    position:absolute;
    bottom:35vh;
    font-size: 2em;
}

.namebox1.namebox{
    right: 5%;
}

.namebox2.namebox{
    left: 5%;
}

.background{
   width:100%;
   height: 100%;
   position:absolute;
   top:0;
   left:0;
   background-color: black;
}

@media screen and (min-width: 1399.98px){
    .settingsBtn{
        width:3vmax;
        height:3vmax;
    }
    .textbox{
        font-size: 1.5em;
    }
    .optionBtn{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 575.98px){
    .textbox{
        font-size: 0.7em;
    }
    .optionBtn{
        font-size: 0.7em;
    }
}

/*////////////////////////////////////////////////////
SPRITES
////////////////////////////////////////////////////*/

.sprite1{    
    width:12vw;
    aspect-ratio: 1/2;
    position:absolute;
    bottom:35vh;
    left:5%;
    background-size: cover;    
    filter: contrast(0.75);
    opacity: 0.5;
    transition: opacity 0.2s, filter 0.2s;
}

.sprite1.active{
    filter: contrast(1);
    opacity:1;
    transition: opacity 0.2s, filter 0.2s;
}

.sprite1eyes{
    width:12vw;
    aspect-ratio: 1/2;
    background-size: 48vw, 100%;
    position:absolute;
    animation: eyes 5.5s steps(4) infinite;
}

.sprite1mouth{
    width:12vw;
    aspect-ratio: 1/2;
    background-size: 48vw, 100%;
    position:absolute;

}

.sprite2{
    width:12vw;
    aspect-ratio: 1/2;
    position:absolute;
    bottom:35vh;
    right:5%;
    background-size: cover;
    transform: scaleX(-1);
    filter: contrast(0.75);
    opacity: 0.5;
    transition: opacity 0.2s, filter 0.2s;
}

.sprite2.active{
    filter: contrast(1);
    opacity:1;
}

.sprite2eyes{
    width:12vw;
    aspect-ratio: 1/2;
    background-size: 48vw, 100%;
    position:absolute;
    animation: eyes 5.5s steps(4) infinite 1.5s;
}

.sprite2mouth{
    width:12vw;
    aspect-ratio: 1/2;
    background-size: 48vw, 100%;
    position:absolute;
}

@keyframes eyes {
    0% {background-position-x: 0;}
    10%, 100% {background-position-x: -48vw;}
}
/*/////////////////////////////////////////////////////
MAP
/////////////////////////////////////////////////////*/

#map{
    background-color: red;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:none;
    overflow-y: hidden;
}

.mapTextBottom{
    width: 100%;
    height:15vmax;
    position:absolute;
    bottom:-35%;
    left:0;
    font-family: 'Press Start 2P', cursive;
    color:var(--white);
}

.mapInfoBottom{
    height:75%;
    background-color: var(--black);
    border: var(--white) solid 2px;
    border-bottom: none;
    position:absolute;
    bottom:0;
    left:0;
    padding:20px;
}

.mapNameBottom{
    height:25%;
    background-color: var(--black);
    position:absolute;
    top:0;
    border: var(--white) solid 2px;
}

.mapTextTop{
    width: 100%;
    height:15vmax;
    position:absolute;
    top:-35%;
    left:0;
    font-family: 'Press Start 2P', cursive;
    color:var(--white);
}

.mapInfoTop{
    height:75%;
    background-color: var(--black);
    border: var(--white) solid 2px;
    position:absolute;
    top:0;
    left:0;
    padding:20px;
}

.mapNameTop{
    height:25%;
    background-color: var(--black);
    position:absolute;
    bottom:0;
    border: var(--white) solid 2px;
}

#place1{
    width:10vmax;
    aspect-ratio:10/9;
    background-color: var(--black);
    position:absolute;
    top:7vh;
    left:70vw;
}

#place2{
    width:10vmax;
    aspect-ratio:10/9;
    background-color: var(--black);
    position:absolute;
    top:18vh;
    left:20vw;
}

#place3{
    width:10vmax;
    aspect-ratio:10/9;
    background-color: var(--black);
    position:absolute;
    top:62vh;
    left:40vw;
}

#place4{
    width:10vmax;
    aspect-ratio:10/9;
    background-color: var(--black);
    position:absolute;
    top:40vh;
    left:90vw;
}


/*////////////////////////////////////////
Modal
///////////////////////////////////////*/

.modal-content{
    background-color: var(--black)!important;
    border: var(--white) 2px solid!important;
    border-radius: 0!important;
}

.modal-title{
    font-family: 'Press Start 2P', cursive;
}

.modal-body{
    font-family: 'Press Start 2P', cursive;
}

.menuModalBtn{
    width:40%;
    aspect-ratio: 3/1;
    background-color: var(--darkerGray);
    border:var(--white) solid 2px;
    color:var(--white);
    font-family: 'Press Start 2P', cursive;
}

.menuModalBtn:hover{
    background-color: var(--gray);
}

.langModalContent{
    padding:30px;
}

.langConfirmContainer{
    width:50%;
    align-self: flex-end;
    display:flex;
    justify-content: space-around;
}

.text-red{
    color:var(--red);
}

/*/////////////////////////////////////////////////
SETTINGS
//////////////////////////////////////////////////*/

.settings{
    height:100%;
    position:absolute;
    top:0;
    padding:40px;
    background-color: var(--black);
    font-family: 'Press Start 2P', cursive;
}

.settingsCloseArea{
    height:100%;
    position:absolute;
    right:0;
}

#closeBtnST{
    position:absolute;
    top:2vmin;
    right:2vmin;
    width:5vmin;
    height:5vmin;
    font-size:2em;
    text-align: center;
    background:none;
    border:none;
    color:var(--gray);
}

#closeBtnST:hover{
    color:var(--white)
}

ul{
    list-style-type: none;
}

.settingWrapper{
    height:100%;
    position:absolute;
    top:0;
    left:-100%;
    opacity:0;
    background-color: var(--transparentGray);
}

.settingsMenuBtn{
    width:9vmax;
    height:4vmax;
    background-color: var(--darkerGray);
    border:var(--white) solid 2px;
    color:var(--white);
}

.hideMenuCheck{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:none;
}

/*/////////////////////////////////////////////
INVENTORY
////////////////////////////////////////////*/

.inventoryWrapper{
    height:100%;
    top:0;
    position:absolute;
    background-color: var(--transparentGray);
    left:-100%;
    opacity:0;

}

.inventory{
    font-family: 'Press Start 2P', cursive;
    width:55%;
    position:absolute;
    right:0;
    height:100%;
}

.inventoryCloseArea{
    width:45%;
    position:absolute;
    height:100%;
    left:0;
}

/*//////////////////////////////////////////////
INVENTORY MAIN
//////////////////////////////////////////////*/

.moneyCount{
    width:60%;
    height:80%;
    border: 2px var(--white) solid;
    background-color: var(--darkGray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:2em;
    padding:20px;
}

.moneyCounter{
    display:inline-block;
}

.inventoryBottom{
    position:absolute;
    bottom:0;
    width:100%;
    height:8%;
    left:0;
    border: 2px var(--white) solid;
    background-color: var(--black);
    padding:5px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.inventoryPrimary{
    width:40%;
    height:100%;
    position:absolute;
    right:0;
    background-color: var(--black);
    padding:30px;
    border: 2px var(--white) solid;
    border-bottom: none;
    border-left:none;
}


.inventoryBtn{
    display:flex;
    width:40%;
    aspect-ratio: 1/1;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.7em;
    background-size: contain;
    background-color: var(--darkerGray);
    border: 2px solid var(--white);
}

.itemAmountBtn{
    color: var(--white);
    font-size:3em;
    align-self: flex-end;
    -webkit-text-stroke: 1px var(--black);
}

.inventoryBtn:hover{
    background-color: var(--darkGray);
}

.shopText{
    width:100%;
    height:100%;
    overflow-wrap: break-word;
}

.itemList{
    width:100%;
    height:77%;
    overflow-y: auto;
    overflow-x: hidden;
}

.keyItemList{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.keyItemList::after{
    content:"";
    width:40%;
}

.consumableItemList{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.consumableItemList::after{
    content:"";
    width:40%;
}

.valuableItemList{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.valuableItemList::after{
    content:"";
    width:40%;
}

.itemCategory{
    font-size:1.5em;
}

#consWrap{
    display: none;
}

#valWrap{
    display:none;
}

/*////////////////////////////////////////////////
TOP OF MAIN INVENTORY
//////////////////////////////////////////////////*/

.inventoryTitle{
    font-size:2em;
}

.inventoryTop{
    height:15%;
    position:relative;
    margin-bottom:25px;
}

.categoryWrapper{
    width:100%;
    height:30%;
    position:absolute;
    bottom:15%;
    left:0;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.categoryBtn{
    height:100%;
    aspect-ratio: 1/1;
    background-color: var(--darkerGray);
    border:2px var(--white) solid;
}

.categoryBtn:hover{
    background-color: var(--gray);
}

.categoryBtn.emptyCategory{
    background-color: var(--black);
}

.categoryBtn.emptyCategory:hover{
    cursor: default;
}


#closeBtnIN{
    position:absolute;
    right:2vmin;
    width:5vmin;
    height:5vmin;
    font-size:2em;
    right:0;
    text-align: center;
    background:none;
    border:none;
    color:var(--gray);
}

#closeBtnIN:hover{
    color:var(--white)
}


/*////////////////////////////////////
SCROLLBAR
//////////////////////////////////////*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gray); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--darkGray); 
  }

/*//////////////////////////////////////////////
INVENTORY SUB
//////////////////////////////////////////////*/


.inventorySub{
    width:60%;
    position:absolute;
    background-color: var(--darkerGray);
    left:0;
    height:100%;
    padding:30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Press Start 2P', cursive;
    border: 2px var(--white) solid;
}

.itemName{
    font-size:2em;
}

.itemImg{
    width:80%;
    aspect-ratio: 1/1;
    background-color: var(--black);
    align-self: center;
    border: 2px var(--white) solid;
}

.itemBtnContainer{
    width:100%;
    height:25%;
    display: flex;
    justify-content: space-around;
    border-top: var(--white) 2px solid;
}

.itemAmnt{
    width:25%;
    height:100%;
    align-self: flex-end;
    display:flex;
    align-items: center;
    justify-content: center;
}

.itemPrc{
    width:25%;
    height:100%;
    align-self: flex-end;
    display:flex;
    align-items: center;
    justify-content: center;
}

.infoContainer{
    width:100%;
    height:15%;
    display:flex;
    justify-content: space-between;
}

.descContainer{
    width:100%;
    display:flex;
    flex-direction: column;
    height:30%;
    background-color: var(--black);
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border: var(--white) 2px solid;
}

.itemDesc{
    width:100%;
    height: 50%;
    border-bottom: var(--white) 2px solid;
    display:inline-block;
    margin:0;
    padding:20px;
}

.itemAction{
    width:30%;
    aspect-ratio: 3/1;
    background-color: var(--black);
    color: var(--white);
    border: var(--white) solid 2px;
    display:none;
}

.itemAction:hover{
    background-color: var(--gray);
}



/*/////////////////////////////////////////////////
SHOP
/////////////////////////////////////////////////*/

.shopWrapper{
    height:100%;
    top:0;
    position:absolute;
    display:none;
    overflow-x: hidden;
}

.shopInterface{
    font-family: 'Press Start 2P', cursive;
    width:100%;
    position:absolute;
    right:0;
    height:87vh;
}

.shopTextbox{
    width:80%;
    height:27vh;
    background-color: var(--darkerGray);
    border: var(--white) solid 2px;
    border-bottom:none;
    border-right:none;
    font-size:1em;
    color: var(--white);
    position:absolute;
    bottom:8vh;
    left:0;
    padding:50px;
    font-family: 'Press Start 2P', cursive;
}

.shopChoice{
    height:27vh;
    width:20%;
    position:absolute;
    background-color: var(--darkGray);;
    right:0;
    bottom:0;
    border: var(--white) solid 2px;
    border-bottom:none;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.shopChoiceBtn{
    width:80%;
    aspect-ratio: 4/1;
    background-color: var(--black);
    color: var(--white);
    border: var(--white) solid 2px;
}

.shopChoiceBtn:hover{
    background-color: var(--gray);
}

.shopBottom{
    position:absolute;
    bottom:0;
    width:100%;
    height:8%;
    left:0;
    border: 2px var(--white) solid;
    background-color: var(--black);
    padding:5px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}


/*/////////////////////////////////////////////////////
SHOP PRIMARY
///////////////////////////////////////////////////////*/

.shopPrimary{
    width:20%;
    height:100%;
    position:absolute;
    right:0;
    background-color: var(--black);
    padding:30px;
    display: none;
    border: var(--white) 2px solid;
    border-bottom:none;
    overflow-y: auto;
}

.shopTitle{
    font-size:2em;
}

.shopBtn{
    width:40%;
    font-size: 0.7em;
    aspect-ratio:1/1;
    background-color: var(--darkerGray);
    border: 2px var(--white) solid;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-size:cover;
}

.itemListShop::after{
    content:"";
    width:40%;
}

.itemListShop{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.listShopWrap{
    width:100%;
    height:77%;
    overflow-y: auto;
    overflow-x: hidden;
}

.shopTop{
    height:15%;
}

#closeBtnSH{
    position:absolute;
    top:2vmin;
    right:2vmin;
    width:5vmin;
    height:5vmin;
    font-size:2em;
    text-align: center;
    background:none;
    border:none;
    color:var(--gray);
}

#closeBtnSH:hover{
    color:var(--white)
}

.noStock{
    background-color: var(--red);
}

/*//////////////////////////////////////////////////////
SHOP SUB
//////////////////////////////////////////////////////*/

.shopSub{
    width:30%;
    height:70%;
    position:absolute;
    background-color: var(--darkerGray);
    left:-35%;
    padding:30px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Press Start 2P', cursive;
    border: var(--white) 2px solid;
    border-bottom:none;
}

.itemNameShop{
    font-size:2.5em;
    align-self: center;
}

.itemImgShop{
    width:50%;
    aspect-ratio: 1/1;
    background-color: var(--black);
    align-self: center;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
    padding:10px;
    border: var(--white) 2px solid;
}

.itemBtnContainerShop{
    width:100%;
    display: flex;
    justify-content: space-around;
}

.itemAmntShop{
    font-size:3em;
    -webkit-text-stroke: 1px var(--black);
}

.descContainerShop{
    background-color: var(--black);
    width:100%;
    height:30%;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border: var(--white) 2px solid;
}

.itemPriceSub{
    font-size:1.5em;
}

.itemPriceShopCont{
    width:50%;
    height:40%;
    background-color: var(--darkGray);
    align-self: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: var(--white) solid 2px;
    padding:20px;
}

.itemDescShop{
    align-self: center;
}

/*/////////////////////////////////////////////////
SHOP PURCHASE
/////////////////////////////////////////////////*/

.shopConfirm{
    width:30%;
    height:70%;
    position:absolute;
    background-color: var(--darkerGray);
    padding:30px;
    display:none;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Press Start 2P', cursive;
}

.shopConfirmOptionsContainer{
    width:100%;
    height:35%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    border: var(--white) 2px solid;
    padding:15px;
}

.shopAction{
    width:30%;
    aspect-ratio: 3 / 1;
    background-color: var(--black);
    color: var(--white);
    border: var(--white) solid 2px;
}

.shopAction:hover{
    background-color: var(--darkGray);
}

.itemPriceConfirm{
    font-size:1.5em;
}

.priceContainer{
    width:50%;
    height:40%;
    background-color: var(--darkGray);
    align-self: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: var(--white) solid 2px;
    padding:20px;
}

.shopBtnContainer{
    width:100%;
    display: flex;
    position:relative;
    justify-content: space-around;
    align-items: center;
}

.shopSliderContainer{
    width:80%;
}
#shopSlider{
    appearance: none;
    width:100%;
    background: var(--black);
    border: var(--white) 1px solid;
    border-radius: 15px;
}

#shopSlider::-webkit-slider-thumb {
    appearance: none;
    width: 5%;
    aspect-ratio:1/1;
    background: var(--gray); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 10px;
    transform:scale(1.5);
  }

#shopSlider::-webkit-slider-thumb:hover{
    background: var(--white);
    transform:scale(1.8);
}