*{box-sizing: border-box;
padding:0;
margin:0;}
*{font-family: "comic sans ms";}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --red: #de1f1f;
    --darkerGray: #1a1a1a;
    --darkGray: #2e2e2e;
    --gray: #424242;
    --transparentGray: rgba(66, 66, 66, 0.2);
}

.wrapper{
    width:100%;
    height: 100%;
    position: relative;
    background-size:cover;    
    background-repeat: no-repeat;    
    aspect-ratio: 16/9;
    background-position:center;
    display:flex;
    justify-content:space-evenly ;
    padding:50px;
    flex-direction: column;
}

body{
    color:var(--white)!important;
    image-rendering: pixelated;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    background-color: var(--gray)!important;
}
.game{
    width:95vw;
    height:95vh;
    position:relative;
}


/*////////////////////////////////////////

MENU PRINCIPAL

////////////////////////////////////////////*/

.mainMenu{
    background-image: url("../media/img/maison_ext.png");
}

.title{
    font-family: 'Press Start 2P', cursive;
    font-size:5vw;
    align-self:center;
    -webkit-text-stroke: 3px var(--black);
}

.startBtns{
    height:20vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.start{
    height:5vh;
    width:10vmax;
    color:var(--white);
    background-color: var(--darkerGray);
    font-family: 'Press Start 2P', cursive;
    border: var(--white) solid 5px;
}

.start:hover{
    background-color: var(--darkGray);
}

.tip{
    position:absolute;
    width:25vw;
    height:30vh;
    background-color: var(--darkerGray);
    bottom:0;
    left:0;
    opacity:0;
    padding:20px;
    font-family: 'Press Start 2P', cursive;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    line-height: 1.5em;
    font-size:1vw;
}

.warning{
    color: var(--red);
}

.start:hover ~ .tip{
    opacity:1;
}

@media screen and (max-width: 991.98px){
    .title{
        font-size: 6vw;
    }
    .tip{
        height:25vh;
        font-size:2vw;
    }
    .start{
        width:15vmax;
    }
}

@media screen and (max-width: 575.98px){
    .title{
        font-size:8vw;
    }
    .tip{
        height:25vh;
        font-size:3vmin;
    }
}



/*/////////////////////////////////////////////
VISUAL NOVEL
/////////////////////////////////////////////*/

#vn{
    display: none;
}

.textbox{
    width:100%;
    height:27vh;
    background-color: var(--darkerGray);
    border: var(--white) solid 3px;
    font-size:1em;
    color: var(--white);
    position:absolute;
    bottom:8vh;
    left:0;
    padding:50px;
    font-family: 'Press Start 2P', cursive;
}

.buttonBox{
    height:8vh;
    position:absolute;
    bottom:0;
    left:0;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--black);
    border: var(--white) solid 2px;
    font-size: 0.5em;
}

.buttonContainer{
    height:8vh;
    position: relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.settingsBtn{
    width:4vmax;
    height:4vmax;
    background-color: var(--darkerGray);
    border:var(--white) solid 2px;
    color:var(--white);
}

.optionsbox{
    width:100%;
    height:65vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    top:0;
    left:0;
}

.settingsBtn:hover{
    background-color: var(--gray);;
}

.optionBtn{
    width:25vmin;
    aspect-ratio:3/1;
    background-color: var(--darkerGray);
    font-family: 'Press Start 2P', cursive;
    color: var(--white);
    border:var(--white) solid 2px;
    font-size:1em;
}

.optionBtn:hover{
    background-color: var(--gray);
}

.background{
   width:100%;
   height: 100%;
   position:absolute;
   top:0;
   left:0;
   background-color: black;
}

@media screen and (min-width: 1399.98px){
    .settingsBtn{
        width:3vmax;
        height:3vmax;
    }
    .textbox{
        font-size: 1.5em;
    }
    .optionBtn{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 575.98px){
    .textbox{
        font-size: 0.7em;
    }
    .optionBtn{
        font-size: 0.7em;
    }
}



/*/////////////////////////////////////////////////////
MAP
/////////////////////////////////////////////////////*/

#map{
    background-color: red;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:none;
    overflow-y: hidden;
}

.mapText{
    width: 100%;
    height:15vmax;
    position:absolute;
    bottom:-35%;
    left:0;
    font-family: 'Press Start 2P', cursive;
    color:var(--white);
}

.mapInfo{
    height:75%;
    background-color: var(--black);
    border: var(--white) solid 2px;
    position:absolute;
    bottom:0;
    left:0;
    padding:20px;
}

.mapName{
    height:25%;
    background-color: var(--black);
    position:absolute;
    top:0;
    border: var(--white) solid 2px;
}

#place1{
    width:10vmax;
    aspect-ratio:10/9;
    background-color: var(--black);
    position:absolute;
    top:7vh;
    left:70vw;
}

#place2{
    width:10vmax;
    aspect-ratio:10/9;
    background-color: var(--black);
    position:absolute;
    top:18vh;
    left:20vw;
}

/*////////////////////////////////////////
Modal
///////////////////////////////////////*/

.modal-content{
    background-color: var(--black)!important;
}

.modal-title{
    font-family: 'Press Start 2P', cursive;
}

.modal-body{
    color:var(--red);
    font-family: 'Press Start 2P', cursive;
}

.menuModalBtn{
    width:9vmax;
    height:2vmax;
    background-color: var(--darkerGray);
    border:var(--white) solid 2px;
    color:var(--white);
    font-family: 'Press Start 2P', cursive;
}

/*/////////////////////////////////////////////////
SETTINGS
//////////////////////////////////////////////////*/

.settings{
    height:100%;
    position:absolute;
    top:0;
    padding:40px;
    background-color: var(--black);
    font-family: 'Press Start 2P', cursive;
}

.settingsCloseArea{
    height:100%;
    position:absolute;
    right:0;
}
#closeBtnST{
    position:absolute;
    top:2vmin;
    right:2vmin;
    width:5vmin;
    height:5vmin;
    font-size:2em;
    text-align: center;
    background:none;
    border:none;
    color:var(--gray);
}

#closeBtnST:hover{
    color:var(--white)
}

ul{
    list-style-type: none;
}

.settingWrapper{
    height:100%;
    position:absolute;
    top:0;
    left:-100%;
    opacity:0;
    background-color: var(--transparentGray);
}

.settingsMenuBtn{
    width:9vmax;
    height:4vmax;
    background-color: var(--darkerGray);
    border:var(--white) solid 2px;
    color:var(--white);
}

.hideMenuCheck{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:none;
}

/*/////////////////////////////////////////////
INVENTORY
////////////////////////////////////////////*/

.inventoryWrapper{
    height:100%;
    top:0;
    position:absolute;
    background-color: var(--transparentGray);
    left:-100%;
    opacity:0;

}

.inventory{
    font-family: 'Press Start 2P', cursive;
    width:55%;
    position:absolute;
    right:0;
    height:100%;
}

.inventoryCloseArea{
    width:45%;
    position:absolute;
    height:100%;
    left:0;
}

/*//////////////////////////////////////////////
INVENTORY MAIN
//////////////////////////////////////////////*/


.inventoryPrimary{
    width:40%;
    height:100%;
    position:absolute;
    right:0;
    background-color: var(--black);
    padding:30px;

}

.inventoryTitle{
    font-size:2em;
}

.inventoryBtn{
    width:40%;
    aspect-ratio: 1/1;
}

.itemList{
    display:flex;
    justify-content: space-around;
}

.inventoryTop{
    height:15%;
}

#closeBtnIN{
    position:absolute;
    top:2vmin;
    right:2vmin;
    width:5vmin;
    height:5vmin;
    font-size:2em;
    text-align: center;
    background:none;
    border:none;
    color:var(--gray);
}

#closeBtnIN:hover{
    color:var(--white)
}

/*//////////////////////////////////////////////
INVENTORY SUB
//////////////////////////////////////////////*/


.inventorySub{
    width:60%;
    position:absolute;
    background-color: var(--darkerGray);
    left:0;
    height:100%;
    padding:30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Press Start 2P', cursive;
}

.itemName{
    font-size:2.5em;
}

.itemImg{
    width:80%;
    aspect-ratio: 1/1;
    background-color: var(--black);
    align-self: center;
}

.itemBtnContainer{
    width:100%;
    display: flex;
    justify-content: space-around;
}

.itemAmnt{
    align-self: flex-end;
}

.descContainer{
    width:100%;
    display:flex;
    flex-direction: column;
}

.itemAction{
    width:30%;
    aspect-ratio: 3/1;
    background-color: var(--black);
    color: var(--white);
    border: var(--white) solid 2px;
    display:none;
}

.itemAction:hover{
    background-color: var(--gray);
}

